#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.list-users a {
  color: #f3f3f3;
  background-color: #232323;
  padding: 5px;
  border-radius: 8px;
  text-transform: uppercase;
}

.list-users a:hover {
  text-decoration: underline;
}
